<link href="../../../bower_components/polymer/polymer-element.html" rel="import">

<dom-module id="connect-list">
    <template if="{{!_isEmpty(connects)}}" is="dom-if">
        <template is="dom-repeat" items="[[connects]]">
            <div class="connect">
            </div>
        </template>
    </template>
</dom-module>